.card {
  width: fit-content;
  margin: 0;
  padding: 1.5em 1.1em;
  margin-bottom: 50px;
  background-color: #faf9f9;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
